#wrapper, #main-bar, #footer
  +container
  +pie-clearfix

#header
  margin: 2em 0 1em
  clear: both
  overflow: visible

#main-bar
  overflow: visible

#logo
  +column(7)

#top-bar
  +column(8, true)
  +prepend(1)
  .menu
    +no-bullets
    +inline-block-list

    a
      +hover-link
      font-size: 1.167em
      line-height: 3em
      vertical-align: middle
      padding: 0 0.25em

      img
        vertical-align: middle
        padding: 0.25em

#main
  +column(15)

  .subtabs
    +inline-block-list

    li
      font-size: 18px
      line-height: 18px
      text-align: center
      padding: 0.75em 0

    $tabwidth: 99%
    @for $i from 1 through 5
      &.subtabs-#{$i} li
        width: $tabwidth / $i

#sidebar
  +column(7, true)
  +prepend(2)
  font-size: 13px

  .actions
    padding: 0
    +no-bullets
    margin-bottom: 1em
    font-size: 1.3em

    li
      +prepend(1)

  .block
    margin-bottom: 1em

  #users.widget

    ul.list
      margin-bottom: 0.5em
      margin-top: 1px
      +no-bullets
      +prepend(1)

      li
        padding: 0.25em 0

        .gravatar
          +column(1)
          padding-top: 1px

        .item
          +prepend(1)

    .more
      +prepend(1)

#footer
  text-align: center

  > ul
    +no-bullets
    +inline-block-list
    margin: 1em 0