.question-title-col
  +column(14, true)
  font-size: 21px

.question-body-col
  clear: both

  .topic-list
    +inline-block-list

    .topic
      padding: 0.25em
      background-color: #eee
      +border-radius
