#news_items
  padding: 0
  margin: 0

  > li
    +no-bullet

  .entry
    margin: 1em 0
    overflow: visible

    h3
      margin-bottom: 0.5em

    .origin
      margin-bottom: 0.75em

    .answer
      +prepend(1)
      +column(13)

      .vote-col

        .votes_average
          margin-right: 0.25em
          padding: 0.25em
          background-color: #eee
          +border-radius
          font-size: 10px
          display: none

      .body-col
        +prepend(1)

        pre
          white-space: pre-wrap

        .user_data
          border-bottom: 1px dotted #AAAAAA
          display: inline-block
          margin-bottom: 0.5em
          padding-bottom: 0.25em

          a
            +hover-link

      &.own
        .votes_average
          display: block
        img
          display: none

      &.resize
        height: 85px
        position: relative
        overflow: hidden

        .votes_average
          display: block

        button
          display: none

        .more
          background-color: white
          bottom: 0
          position: absolute
          text-align: center
          cursor: pointer
          color: #538DC2
          padding-top: 5px
          +column(13)
          +prepend(1)

          .more-link
            display: block
            border-top: 2px dashed #EEEEEE

      &.expanded
        height: auto
        overflow: visible

        .votes_average
          display: none

        button
          display: block

        .more
          display: none

          a
            +unstyled-link

    .info
      clear: both
      text-align: right

      .metadata
        font-size: 0.8em